{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Juego Nuevo{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype = "multipart/form-data">
    <label for="nombre">Nombre</label>
    <input name="nombre" id="nombre" value="{{ '' }}" required>
    <label for="genero">Género</label>
    <input name="genero" id="genero" value="{{ '' }}" required>
    <label for="fechalanzamiento">Fecha de Lanzamiento</label>
    <input type="date" name="fechalanzamiento" id="fechalanzamiento" value="{{ hoy }}" required>
    <label for="desarrollador">Desarrollador</label>
    <input name="desarrollador" id="desarrollador" value="{{ '' }}" required>
    <label for="clasificacion">Clasificacion</label>
    <input name="clasificacion" id="clasificacion" value="{{ '' }}" required>
    <label for="precio">Precio</label>
    <input name="precio" id="precio" type='number' step='0.01' value='0.00' placeholder='0.00' required>
    <label for="rating">Rating</label>
    <input name="rating" id="rating" type='number' step='0.1' value='0.0' placeholder='0.0' required>
    <label for="publicador">Publicador</label>
    <input name="publicador" id="publicador" value="{{ '' }}" required>
    <label for="imagen">¿Imágen?</label>    
    <input class='picture-file-input' type='file' name='imagen' />
    <input type="submit" value="Save">
</form>
{% endblock %}
