{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Catálogo de Juegos{% endblock %}</h1>
<div class="search-container">
    <form action="{{ url_for('blog.index') }}" method="post">
        <input type="text" placeholder="Buscar por desarrollador" Name="search" id="search">
        <button type="submit">Boton?</button>
    </form>
</div>
{% endblock %}

{% block content %}
{% for juego in juegos %}
<article class="post">
    <header>
        <div>
            <h1>{{ juego['nombre'] }}</h1>
            <div class="about">by {{ juego['desarrollador'] }} on {{ juego['fechalanzamiento'].strftime('%Y-%m-%d') }}</div>
        </div>
        <form action="{{ url_for('blog.delete', id=juego['idjuego']) }}" method="post">
            <input class="danger" type="submit" value="Borrar" onclick="return confirm('Seguro, seguro?');">
        </form>
        <form action="{{ url_for('blog.update', id=juego['idjuego']) }}" method="get">
            <input type="submit" value="Editar">
        </form>
    </header>
    <img style="float: right; height: 10em; width: auto; margin-right: 1%; margin-top: 0.8em; margin-bottom: 0.5em;" src="data:image/jpg;base64,{{ encr(juego['imagen']) if juego['imagen'] else '' }}">
    <p class="body"> <b> Género: </b> {{ juego['genero'] }}</p>
    <p class="body"> <b> Fecha de Lanzamiento: </b> {{ juego['fechalanzamiento'] }}</p>
    <p class="body"> <b> Desarrollador: </b> {{ juego['desarrollador'] }}</p>
    <p class="body"> <b> Clasificación: </b> {{ juego['clasificacion'] }}</p>
    <p class="body"> <b> Precio: </b> {{ juego['precio'] }}</p>
    <p class="body"> <b> Stock: </b> {{ juego['stock'] }}</p>
    <p class="body"> <b> Descripcion: </b>{{ juego['descripcion'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
