<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Tienda Pro de Juegos :V</h1>
    <ul>
        <li><a class="action" href="{{ url_for('blog.index') }}">Índice</a></li>
        <li><a class="action" href="{{ url_for('blog.create') }}">Nuevo</a></li>
        <li><a class="action" href="{{ url_for('blog.auditoria') }}">Auditorías</a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</section>
